.carrousel {
    display: flex;
    border: 1px solid black;
    background-color: black;
    margin: 20px;
    justify-content: center; 
}

.moveButton {
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    transition: transform 0.3s, background-color 0.3s, opacity 0.3s, color 0.3s;
}

.moveButton:hover {
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.5); 
    opacity: 0.8;
    color: black;
}

.carrouselImg {
    height: 300px;
    width: 500px;
}